.left-nav {
    position: fixed;
    left: 0;
    width: 100px;
    height: 100vh;
    padding-top: 38px;
    box-sizing: border-box;
    background: $c-light-gray;
    display: flex;
    justify-content: center;
    &__logo {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        background: $c-white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        p {
            width: 30px;
            font-size: 21px;
            line-height: 25px;
            font-weight: 800;
            word-wrap: break-word;
        }
    }
}