.packages {
    width: 100%;
    margin-left: 220px;
    @media (max-width: 1350px) and (min-width: 0px) {
        margin-left: 120px;
    }
    &__wr {
        max-width: 1100px;
        padding-right: 10px;
    }
    &__search {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        &-icon {
            width: 25px;
            margin-right: 20px;
        }
        &-input {
            border: none;
            outline: none;
            width: 260px;
        }
    }
    &__header {
        display: flex;
        align-items: flex-end;
        &-title {
            margin: 0;
            margin-right: 20px;
            font-size: 27px;
            line-height: 32px;
        }
        &-items {
            font-size: 15px;
            line-height: 18px;
            color: $c-gray;
        }
    }
    &__nav {
        margin-top: 85px;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 18px;
        color: $c-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            max-width: 125px;
            width: 100%;
            overflow: hidden;
            user-select: none;
        }
        &-add {
            max-width: 27px;
            max-height: 27px;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid $c-black;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $c-black;
            user-select: none;
            transition: all .5s ease;
            &--active {
                background: $c-black;
                color: $c-white;
            }
        }
    }
    &__add {
        width: 100%;
        height: 55px;
        background: $c-light-gray-two;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px 14px;
        &-button {
            width: 70px;
            height: 28px;
            border: none;
            outline: none;
            border-radius: 10px;
            background: $c-white;
            cursor: pointer;
        }
        &-input {
            border: none;
            outline: none;
            border-radius: 2px;
            height: 28px;
            padding: 8px;
            box-sizing: border-box;
            &__plug {
                width: 45px;
            }
            &::placeholder {
                color: $c-gray;
                font-size: 11px;
                line-height: 13px;
            }
            &__id {
                width: 78px;
                margin-right: 30px;
                @media (max-width: 992px) {
                    width: 30px;
                    margin-right: 10px;
                }
            }
            &__client {
                width: 113px;
                @media (max-width: 992px) {
                    width: 70px;
                    margin-right: 10px;
                }
            }
            &__pickup {
                width: 145px;
                @media (max-width: 992px) {
                    width: 70px;
                    margin-right: 10px;
                }
            }
            &__dropoff {
                width: 145px;
                @media (max-width: 992px) {
                    width: 70px;
                    margin-right: 10px;
                }
            }
            &__courier {
                width: 145px;
                @media (max-width: 992px) {
                    width: 70px;
                    margin-right: 10px;
                }
            }
        }
    }
    &-item {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid $c-light-gray;
        display: flex;
        align-items: center;
        &:hover {
            background: $c-blue-two;
            border-radius: 10px;
            color: $c-white;
        }
        &__status {
            position: relative;
            width: 72px;
            height: 26px;
            background: $c-light-green;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $c-green;
            font-size: 11px;
            line-height: 13px;
            border-radius: 30px;
            padding-left: 15px;
            box-sizing: border-box;
            &::before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: $c-green;
                border-radius: 10px;
                left: 13px;
            }
        }
        &__items {
            max-width: 178px;
            width: 100%;
            overflow: hidden;
            &-id {
                font-weight: bold;
                font-size: 15px;
                line-height: 18px;
                color: $c-blue;
                padding-left: 10px;
            }
            &-text {
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
            }
            
        }
    }
}

.packages-item:hover .packages-item__items-id{
    color: #fff;
}