$c-light-gray: #DFDFDF;
$c-light-gray-two: #EDEDED;
$c-gray: #999999;
$c-white: #FFF;
$c-light-green: rgba(115, 228, 96, 0.4);
$c-green: #398E2A;
$c-blue: #0F8DC3;
$c-blue-two: #0C94F5;
$c-black: #000;